RewriteEngine On

RewriteRule ^private/(.*)$ /redirect.html [L,R=301]


RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/redirect.html
RewriteRule ^(.*)$ public/$1 [L]


ErrorDocument 404 /redirect.html
ErrorDocument 403 /redirect.html


Options -Indexes

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>